@model IEnumerable<CVGS.Models.FriendsFamilyLists>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center header">
    <h1 class="display-4 header-text">Friends & Family List</h1>
</div>

<a asp-area="Customer" asp-controller="FriendsFamilyLists" asp-action="AwaitingApproval" class="btn btn-primary">Friend Requests</a>
<div class="container text-center">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-4">
                <div class="my-card" style="width: 18rem;">

                    <h5 class="card-title">@item.ChildApplicationUser.UserName</h5>

                    <a asp-area="Customer" asp-route-id="@item.ChildApplicationUser.Id" asp-controller="Members" asp-action="Details" class="btn btn-primary">Details</a>
                    <a asp-area="Customer" asp-route-userName="@item.ChildApplicationUser.UserName" asp-route-id="@item.ChildApplicationUser.Id" asp-controller="FriendsFamilyLists" asp-action="Delete" class="btn btn-danger">Delete</a>

                </div>
            </div>

        }
    </div>
</div>
