@model CVGS.Models.Events
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Event</h2>

<form enctype="multipart/form-data" method="post">
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Name"></label>
        </div>
        <div class="col-5">
            <input asp-for="Name" class="form-control" />
        </div>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Details"></label>
        </div>
        <div class="col-5">
            <input asp-for="Details" class="form-control" />
        </div>
        <span asp-validation-for="Details" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="StartDate"></label>
        </div>
        <div class="col-5">
            <input type="date" asp-for="StartDate" class="form-control" />
        </div>
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="StartingTime"></label>
        </div>
        <div class="col-5">
            <input type="time" asp-for="StartingTime" class="form-control" />
        </div>
        <span asp-validation-for="StartingTime" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="EndDate"></label>
        </div>
        <div class="col-5">
            <input type="date" asp-for="EndDate" class="form-control" />
        </div>
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="EndingTime"></label>
        </div>
        <div class="col-5">
            <input type="time" asp-for="EndingTime" class="form-control" />
        </div>
        <span asp-validation-for="EndingTime" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Location"></label>
        </div>
        <div class="col-5">
            <input type="text" asp-for="Location" class="form-control" />
        </div>
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Create" />
    </div>
</form>

