@using Microsoft.AspNetCore.Http
@model CVGS.Models.Reviews
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Review</h2>

<form enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="GameId" class="form-control" />
    <input type="hidden" asp-for="ApplicationUserId" class="form-control" />
    <input type="hidden" asp-for="isApproved" value="false" class="form-control" />
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Title"></label>
        </div>
        <div class="col-5">
            <input asp-for="Title" class="form-control" />
        </div>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Body"></label>
        </div>
        <div class="col-5">
            <input asp-for="Body" class="form-control" />
        </div>
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Update" />
    </div>
</form>

